body {
  background-color: black;
  color: white;
}

main {
  padding-left: 90px;
  padding-right: 90px;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

img {
	height: 300px;
	width: 300px;
}
.nebula {
	float: left;
	margin-right: 20px; 
}

.nebula2 {
	float: right;
	margin-left: 20px;
}